*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-section{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
.left{
    width: 30vw;
    max-height: 100vh;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right{
    width: 70vw;
    max-height: 100vh;
    min-height: 100%;
    min-width: 40vw;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}
.hero{
   height: 35vh;
   width: 100%;
   margin-top: 0;
   padding: 5rem 0.5rem 0.5rem 0.5rem;
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}
.password, .email, .phone, .firstname, .lastname, .confirm{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
form{
    background-color: white;
    border-bottom: 2px solid rgba(120, 120, 120, 0.3);
}
.create{
    width: 9rem;
    padding: 10px;
    background-color: #596D48;
    border-radius: 5px;
    color: white;
    border: none;
}
.h1{
    margin: 12rem;
}
.para{
    margin-bottom: 1rem;
}
.left{
    background:url(./pics/greenleaf.avif)center/cover no-repeat;
    color: white;
}
.bottom{
    background-color: #f5f5f5;
    padding: 1rem;
}
.exist{
    margin-top: 1rem;
}
input{
    border-radius: 5px;
    outline: none;
}
input:focus{
    border:1px solid blue ;
}
input:invalid{
    border-color: red;
}
